input, textarea, select {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--stroke);

  padding: .75rem 1rem;
  font: var(--text);
}

label {
  font: var(--text-sm);
  color: var(--text-c2);
  margin-bottom: .25rem;
  display: block;
}

input:focus, select:focus, textarea:focus, input[type="date"]:focus-within {
  outline: .25rem solid var(--surface-c2);
  border: .125rem solid var(--stroke-hi);
  outline-offset: .1px; /*HACK BORDA SAFARI*/

}
.input-wraper:has([disabled]){
  opacity: .5;  
} 

input{
  &[disabled]{
    background-color: var(--surface-c3);
    border: 1px solid var(--stroke);
    color: var(--text);
  }
}

input[type="date"] {
  position: relative;

  &::-webkit-calendar-picker-indicator{
    opacity: 0;
  }

  &::before{
    content: "";
    position:absolute;
    background: url(../../assets/icons/calendar-03.svg) center/contain;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

select {
  background: url(../../assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1rem) ;
}

textarea {
  height: 120px;
}

.flex{
  display: flex;
}

.flex-1{
  flex: 1
}

.flex-2{
  flex: 2
}

.address .flex{
  gap: 1.25rem;
}