@import url(fields/input.css);
@import url(fields/droparea.css);
@import url(fields/radio.css);
@import url(fields/checkbox.css);
form {
  margin-top: 3rem;
}

fieldset {
  border: none;
  display: grid;
  gap:1.5rem;
  margin-bottom: 3rem;
}

legend {
  font: 600 1rem/1.25 var(--font-family);
  margin-bottom: 1.5rem;
}