* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--font-family: 'Poppins', 'sans-serif';
--text: 400 1rem/1.5 var(--font-family); /*Font size 16px*/
--text-sm: 400 0.875rem/1.4 var(--font-family);/*Font size 14px*/

--text-c1: #292524;
--text-c2: #57534E;
--text-c3: #8F8881;
--text-hi: #E43A12;

--surface-c1: #ffffff;
--surface-c2: #FEE7D6;
--surface-c3: #E7E5E4;

--stroke: #D6D3D1;
--stroke-hi: #F3541C;

--error : #DC2626;

}

body {
  overflow: hidden;
  font: var(--text);
  color: var(--text-c2);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--text-c2);
  text-decoration: none;
}

h1,h2 {
  color: var(--text-c1);
}

